div {
    width: 200px;
    height: 200px;
    background-color: yellow;
}


/* Position: Absolute */
/* div {
    position: absolute;
    right: 0;
    top: 80px;
   } */

/* position: Relative */
div {
    position: relative;
    right: 100px;
    top: 80px;
   }